.form {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для полей ввода */
.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form input[type="email"],
.form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для кнопки отправки */
.form button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background-color: #0056b3;
}